# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\magang\PRAXIS\01-01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
